/* FONT */

* {
  font-family: "Open Sans", sans-serif;
}

.sen {
  font-family: 'Sen';
}

button:hover, input[type="button"]:hover {
cursor: pointer
}
/* HEADER */

header {
  position: relative;
}

.hero {
  background-image: url(../images/home-hero-background.webp);
  background-size: cover;
  background-position: 10% 30%;
  background-repeat: no-repeat;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.1rem;
  color: white;
}

.hero p:nth-child(1) {
  font-weight: bold;
}
.hero h1, .hero p:nth-child(3) {
  font-size:3.8rem;
  font-weight: bold;
}
.bar a {
  width: 15%;
  margin-left: 1rem;
}

.bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  width: 60%;
  margin: 0 auto;
  position: absolute;
  top:0;
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  margin-top: 1rem;
  position: fixed;
  z-index: 1;
  font-size: 0.9rem;
}

.bar p span {
  font-weight: bold;
}

.bar nav {
  display: flex;
  gap: 1rem; 
}

.bar .bar-right {
  display: flex;
  justify-content: space-between;
  width: 22%;
  
}

.bar nav a:hover {
  background-color: #ffcd05;
}

.appointment {
  display: flex;
  flex: column;
  justify-content: center;
  text-align: center;
  width: 60%;
  position: absolute;
  bottom: -15vh;
  left: 50%;
  transform: translateX(-50%);
  padding: 4rem 1rem;
  background-color: white;
}

.appointment .sen {
  font-weight: bold;
  font-size: 1.1rem;
}
.appointment form {
  width: 90%;
}
.appointment form p{ 
  margin-bottom: 1.3rem;
}

.appointment .book {
  display: flex;
  justify-content: space-between;;
}

.appointment input, .appointment select {
  background-color:#f7f7f7;
  width: 24%;
  padding: 0.4rem ;
  border: none;
}

.appointment button {
  background-color:#0a0500;
  color: white;
  border:none
}

/* MAIN */

.provide {
  background-color: #0a0500;
  height: 50vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.5rem;
  padding-top: 6rem;
}

.provide .sen {
  font-size: 1.8rem;
  font-weight: bold;
}

.provide p:last-child {
  font-weight: bold;
  font-size: 0.9rem;
}
.provide p {
  font-size: 1rem;
  color: white;
}

.services {
  position: relative;
}

.services .boxs {
  display: flex;
  top:0;
  left: 50%;
  transform: translateX(-50%);
  width: 60%;
  gap: 1.5rem;
  text-align: center;
  position: absolute;
  top: -10vh;
}

.services .boxs .box {
  background-color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap:1rem;
  border: 1px solid #f7f7f7;
  padding: 2rem; 
}

.services .boxs .box p:last-child {
  font-weight: bold;
}

.services .boxs .box p:nth-child(3) {
  font-size: 0.9rem;
}
.services .boxs .box .sen {
  font-weight: bold;
  font-size: 1.2rem;
}

.services .buttons {
  display: flex;
  position: absolute;
  justify-content: center;
  top:0;
  left: 50%;
  transform: translateX(-50%);
  width: 60%;
  gap: 1.2rem;
  top: 25vh;
  padding: 1rem;
}

.services .buttons input {
  padding: 0.7rem 1.7rem;
}

.services .buttons input:nth-child(1) {
 background-color: #0a0500;
 border: none;
 color: white
}

.services .buttons input:nth-child(2) {
 background-color: white;
 border: none;
 color: #0a0500;
 border: 2px solid #0a0500;
}

.articles {
  display: flex;
  flex-direction: column;
  padding-top: 45vh;
  width: 60%;
  margin: 0 auto;
  gap:4rem;
}

.article1, .article2, .article3 {
  display: flex; 
}

.article1 .sen, .article2 .sen, .article3 .sen {
  font-weight: bold;
  font-size: 2rem;
  color: #0a0500;

}

.article1 p, .article2 p, .article3 p {
  font-size: 0.9rem;
  color:grey;

}

.articles img {
  width: 50%;
}

.articles button {
  font-size: smaller;
}

.content1, .content2, .content3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  padding-right: 4rem;
}

.content2 {
  padding-right: -4rem;
  padding-left: 4rem;
}

.content2 button, .content3 button {
  background-color: #0a0500;
  color: #f7f7f7;
  width: 35%;
  padding: 0.4rem;
}

.content1 li {
margin-bottom: 1rem;
}

.how {
  text-align: center;
  width: 60%;
  margin: 0 auto;
  padding-top: 5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 7rem;
}

.how .sen {
  font-weight: bold;
  font-size: 2rem;
}

.how p:first-child {
  font-size: 0.9rem;
  font-weight: bold;
}

.how .boxs {
  display: flex;
  gap: 2rem;
}

.how .box {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 3rem;
  border: 1px solid #f7f7f7;
}

.how .boxs .box .sen {
  font-weight: bold;
  font-size: 1.1rem;
  margin-bottom: 1rem;
}

.reviews {
  text-align: center;
  width: 60%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 7rem;
}

.reviews .sen {
  font-size: 2rem;
  font-weight: bold;
}

.reviews p:first-child {
  font-size: 0.9rem;
  font-weight: bold;
}

.reviews .boxs {
  display: flex;
  gap: 2rem;
}

.reviews .box {
  text-align: left;
  align-items: center;
  border: 1px solid #f7f7f7;
  padding: 2rem;
}

.reviews .customer {
   display: flex;
   text-align: left;
   gap: 1rem;
   margin-top: 1rem;
}

.reviews .customer img {
  width: 20%;
  border-radius: 50%;
}

.reviews .boxs .customer .infos p:nth-child(2) {
  font-size: smaller;
  color:grey;
}

.logos {
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
}

.logos img {
  width: 12%;
}

.contact {
  background-image: url(../images/home-contact-section-background.webp);
  background-size: cover;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30rem;
  margin-bottom: 5rem;
}

.contact .text {
   text-align: left;
   color: white;
   display: flex;
   flex-direction: column;
}

.contact .text p:nth-child(1) {
  font-weight: bold;
  color: grey;
  margin-bottom: 2rem;
}

.contact .text p:nth-child(2), .contact .text p:nth-child(3) { 
  font-weight: bold;
  font-size: 2rem;
}


.contact .button button {
  background-color: white;
  border: none;
  padding: 1rem 3rem;;
  margin-top: 6rem;
  font-size: smaller;
  font-weight: bold;
}

/* FOOTER */

footer {
  display: flex;
  justify-content: space-between;
  width: 70%;
  font-size: 13px;
  margin: 0 auto;
  margin-bottom: 10rem;
  position: relative;
  gap: 5rem;
}

footer img {
  width: 12rem;
  margin-bottom: 3rem;
}

.socials {
  width: 20%;
}
.socials p {
  margin-bottom: 1rem;
}

.socials i {
  padding: 0.5rem;
  margin: 0.3rem;
  background-color: #f7f7f7;
  border-radius: 50%;
}

footer .sen {
  margin-bottom: 1.5rem;
  font-weight: bold;
  font-size: 1.2rem;
}

footer .infos p:nth-child(2),footer .infos p:nth-child(4), footer .infos p:nth-child(6) {
  font-weight: bold;
}

footer .infos p:nth-child(3), footer .infos p:nth-child(5), footer .infos p:nth-child(7) {
  font-size: 0.9rem;
  margin-bottom: 1.3rem;
}

.copyright {
  text-align: center;
  padding: 1.5rem;
  font-size: smaller;
}
